#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box">
  <h1 class="title">
    ${station.name}
  </h1>
  #{if station.readings.size() > 0}
  <div class="columns has-text-info">
    <div class="column has-background-info-light mr-1">
      <p>
        ${station.name}
      </p>
    </div>
    <div class="column has-background-info-light mx-1">
      <p>
        Weather <br><br>
        ${station.weather()}
      </p>
    </div>
    <div class="column has-background-info-light mx-1">
      Temp <br><br>
      ${station.recentTempC()}C<br>
      ${station.recentTempF()}F
    </div>
    <div class="column has-background-info-light mx-1">
      Wind<br><br>
      ${station.beaufort()} bft<br>
      ${station.direction()}<br>
      Feels like ${station.windChill()} C
    </div>
    <div class="column has-background-info-light ml-1">
      Pressure<br><br>
      ${station.recentPressure()}
    </div>
  </div>
  #{/if}
  #{list-info station:station /}
  #{else}
  <div class="container">
    <div class="has-text-danger has-text-centered">
      No readings for ${station.name}. Please enter a reading below.
    </div>
  </div>
    #{/else}
</div>
<div class="content box">
  <h1 class="title">
    ${station.name}
  </h1>
  #{addreading station:station /}
</div>
